@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import "tailwindcss";

/* *{
    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  